@import "../../../styles/colors.styl"
@import "../../../styles/font.styl"
@import "../../../styles/paddings.styl"
@import "../../../styles/sizes.styl"

.button
  border none
  border-radius default-border-radius
  font-size button-font-size
  line-height button-line-height
  text-transform uppercase
  cursor pointer
  padding button-padding-top button-padding-right button-padding-bottom button-padding-left

.button-primary
  background-color button-primary-bg-color
  color button-primary-color

.button-full-width
  width 100%

.button-is-loading
  display flex
  justify-content center
  align-items center
  height 48px