@import "../../../styles/borders.styl"
@import "../../../styles/colors.styl"
@import "../../../styles/paddings.styl"
@import "../../../styles/sizes.styl"

.form-container
  padding default-padding
  background-color form-bg-color
  border-radius default-border-radius
  border form-border

  .sub-header
    margin-bottom 10px

  .form-label
    margin-bottom default-half-padding