// Text colors
bg-color = #f7f5f9
link-color = #6979f8
h1-color = #1a051d
h2-color = #1a051d
label-color = #1a051d

// Border colors
form-border-color = #d0c9d6

// Background colors
form-bg-color = #ece9f1