// Text colors
bg-color = #fff
link-color = #6979f8
h1-color = #1a051d
h2-color = #1a051d
label-color = #1a051d
input-text-color = #1a051d
input-text-placeholder-color = #d0c9d6

// Border colors
form-border-color = #d0c9d6
input-border-color = #fff
input-border-color-active = #ece9f1

// Background colors
form-bg-color = #f7f5f9
input-bg-color = #fff