// Text colors
bg-color = #fff
link-color = #6979f8
h1-color = #1a051d
h2-color = #1a051d
label-color = #1a051d
field-error-color = #ff647c
input-text-color = #1a051d
input-text-placeholder-color = #d0c9d6
success-message-color = #00c48c
add-button-text-color = #fff

// Border colors
form-border-color = #d0c9d6
input-border-color = #fff
input-border-color-active = #ece9f1
success-message-border-color = #7ddfc3
table-border-color = #d0c9d6
table-th-border-color = #a5affb
pagination-link-border-color = #6979f8

// Background colors
form-bg-color = #f7f5f9
input-bg-color = #fff
success-message-bg-color = #d5f2ea
add-button-bg-color = #00c48c
edit-button-bg-color = #ffcf5c
delete-button-bg-color = #ff647c
table-header-bg-color = #e5e7fa
table-body-bg-color = #f7f5f9

// Icon colors
icon-default-fill-color = #d0c9d6

// Button colors
button-primary-bg-color = #6979f8
button-primary-color = #fff

// Input colors
select-bg-color = #fff