default-padding = 20px
default-half-padding = default-padding / 2

// Input paddings
input-padding-top = 14px
input-padding-bottom = 14px
input-padding-left = 16px
input-padding-right = 16px
input-icon-padding-right = 44px

// Button paddings
button-padding-top = 13px
button-padding-bottom = 13px
button-padding-left = 16px
button-padding-right = 16px

// Table paddings and margins
table-wrapper-margin-top = 25px
table-cell-padding-left = 15px
table-cell-padding-right = 15px
table-cell-padding-top = 10px
table-cell-padding-bottom = 10px