default-padding = 20px
default-half-padding = default-padding / 2

// Input paddings
input-padding-top = 14px
input-padding-bottom = 14px
input-padding-left = 16px
input-padding-right = 16px
input-icon-padding-right = 44px