default-border-radius = 5px
default-icon-height = 20px
default-icon-width = 20px

small-form-width = 600px
default-page-width = 1200px

default-button-height = 53px
small-button-height = 45px

button-narrow-width = 250px