@import "../../../../styles/colors.styl"
@import "../../../../styles/paddings.styl"

.table-body-row
  background-color table-body-bg-color

  td
    padding table-cell-padding-top table-cell-padding-right table-cell-padding-bottom table-cell-padding-left
    border 1px solid table-th-border-color