@import '../../../styles/animation.styl';
@import '../../../styles/keyframes.styl';

.animation
  display inline-block

.animation-infinity-rotation
  animation-name infinity-rotation
  animation-iteration-count default-animation-iteration-count
  animation-duration default-animation-duration
  animation-timing-function default-animation-timing-function