@import "../../../styles/colors.styl"
@import "../../../styles/font.styl"
@import "../../../styles/paddings.styl"
@import "../../../styles/sizes.styl"

.edit-link-button
  color add-button-text-color
  display inline-flex
  align-items center
  background-color edit-button-bg-color
  border-radius default-border-radius
  font-size button-font-size
  line-height button-line-height
  text-transform uppercase
  text-decoration none
  padding 0 button-padding-right 0 button-padding-left
  height small-button-height

  > svg
    margin-right 10px