@import "../../../styles/colors.styl"
@import "../../../styles/font.styl"
@import "../../../styles/paddings.styl"
@import "../../../styles/sizes.styl"

.password-input
  width 100%
  box-sizing border-box
  padding input-padding-top input-padding-right input-padding-bottom input-padding-left
  border-radius default-border-radius
  border 1px solid input-border-color
  font-size input-font-size

.password-input::placeholder
  color input-text-placeholder-color
  opacity 1

.password-input:focus
  border 1px solid input-border-color-active