@import "../../../../../styles/mixins.styl"
@import "../../../../../styles/paddings.styl"
@import "../../../../../styles/sizes.styl"

.projects-list-page
  max-width default-page-width
  horizontal-center()

  .add-button-row
    add-button-margins()

  .projects-table-wrapper
    margin-top table-wrapper-margin-top