@import "../../../styles/colors.styl"
@import "../../../styles/font.styl"
@import "../../../styles/paddings.styl"

.success-message
  padding default-padding
  font-size label-font-size
  line-height label-line-height
  color success-message-color
  background-color success-message-bg-color
  border 1px solid success-message-border-color
